# -- GENERAL --
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID # Chat ID where the bot will work
TELEGRAM_BOT_USERNAME=YOUR_TELEGRAM_BOT_USERNAME # Username of the bot without '@'
CHARACTER_NAME="YOUR CHARACTER NAME" # Name of the character, which AI will RolePlay (Needed for response formatting)

# -- CUSTOMISATION --
API_URL="https://openrouter.ai/api/v1" # API URL, OpenRouter can be changed to any openai-like API provider
AI_MODEL="deepseek/deepseek-r1:free" # AI model (in this case for OpenRouter API)
ERROR_MSG="<b><i>Ошибка: {error}</i></b>" # Error message starter | ({error} is required)
PROMPT_CONSTRUCTOR_MEDIA="Отправил(-а) медиа" # Message when the user sends media to the bot
PROMPT_CONSTRUCTOR_STICKER="Отправил(-а) стикер" # Message when the bot sends sticker to the user
LIMIT_EXCEEDED_MSG="<b>Лимит исчерпан <i>(20смс/минута | 200смс/день)</i></b>" # Message when the limit is exceeded if using free version of OpenRouter API

# -- SECRETS --
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN # Can be obtained from @BotFather
OPENROUTER_TOKEN=YOUR_OPENROUTER_API_KEY # Can be obtained from https://openrouter.ai/ for free

# -- ADVANCED --
MAIN_MSG="Продолжите диалог ниже. Напишите одну реплику для нижеописанного персонажа {character}." # ({character} is required)
STICKERS_MSG="Так как по сценарию вы находитесь в чате, раз в несколько сообщений ты пользуешься стикерами, отправляя один из тех, которые у тебя есть (список -> {stickers}). Чтобы отправить стикер, ты указываешь его название между двумя знаками равно в сообщении (пример: =={random_sticker}==)" # ({stickers} and {random_sticker} are required)